[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dot-files"]
	path = dot-files
	url = https://github.com/victoryforphil/dot-files
[submodule "dotbot-apt"]
	path = dotbot-apt
	url = https://github.com/bryant1410/dotbot-apt
[submodule "dotbot-apt-get"]
	path = dotbot-apt-get
	url = https://github.com/rubenvereecken/dotbot-apt-get
